/*GLOBAL*/
* {
  margin: 0;
  padding: 0;
}
/*BODY*/
.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  /*justify-content: center;*/
}

/*TÃTULO*/
h1 {
  color: white;
  padding: 20px;
}

/*Filho */
p > strong{
  color: black;
}

/*PARAGRAFOS*/
p { 
  text-align: left;
  padding: 6px;
  color: white
}

/* LISTA */

ul li {
  margin-bottom: 5px;
  display: flex;
  
}

.price {
  margin-left: 8px;
  color: white;
}

.details {
  text-align: left;
  font-size: 14px;
  
}

.title2 {
  font-size: 30px;
}
